# Dairy Data Trends in the United States and beyond

In [1]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

In [3]:
# Import annual data as DataFrame
annual_milk_production = pd.read_csv("Resources/us_annual_milk_production.csv")
annual_milk_production.head()

,Year and Quarter,"Milk cows (1,000)",Milk per cow (Pounds),Milk production (Mil. Pounds),Unnamed: 4,16-Percent protein feed value ($ per cwt),Replacement cow price ($ per head),Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,2009 Avg. or total,"9,202","20,560","189,202",NaN,7.27,"1,390",NaN,NaN,NaN,NaN,NaN,NaN
1,2010 Avg. or total,"9,123","21,143","192,877",NaN,7.20,"1,330",NaN,NaN,NaN,NaN,NaN,NaN
2,2011 Avg. or total,"9,199","21,334","196,255",NaN,10.76,"1,420",NaN,NaN,NaN,NaN,NaN,NaN
3,2012 Avg. or total,"9,237","21,721","200,642",NaN,12.16,"1,430",NaN,NaN,NaN,NaN,NaN,NaN
4,2013 Avg. or total,"9,224","21,816","201,231",NaN,11.70,"1,380",NaN,NaN,NaN,NaN,NaN,NaN