# Dairy Data Trends in the United States and beyond

In [13]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import json

In [14]:
# Import annual data as DataFrame
annual_milk_production = pd.read_csv("Resources/us_annual_milk_production_16-18.csv")
annual_milk_production.head()

                         Milk Production     2016     2017     2018
0      Production (23 States) (Mil. lb.)  199,434  202,455  204,825
1          Milk cows (23 States) (Thou.)    8,653    8,725    8,734
2         Milk per cow (23 States) (Lb.)   23,049   23,204   23,451
3  Production (U.S. estimate) (Mil. Lb.)  212,405  215,466  217,476

In [31]:
reset_milk_production = annual_milk_production.set_index('Milk Production')
reset_milk_production

                                          2016     2017     2018
Milk Production
Production (23 States) (Mil. lb.)      199,434  202,455  204,825
Milk cows (23 States) (Thou.)            8,653    8,725    8,734
Milk per cow (23 States) (Lb.)          23,049   23,204   23,451
Production (U.S. estimate) (Mil. Lb.)  212,405  215,466  217,476

In [34]:
transpose_milk_production = reset_milk_production.transpose()
transpose_milk_production

Milk Production,Production (23 States) (Mil. lb.),Milk cows (23 States) (Thou.),Milk per cow (23 States) (Lb.),Production (U.S. estimate) (Mil. Lb.)
2016,"199,434","8,653","23,049","212,405"
2017,"202,455","8,725","23,204","215,466"
2018,"204,825","8,734","23,451","217,476"

In [15]:
annual_milk_price = pd.read_csv("Resources/us_annual_milk_price_16-18.csv")
annual_milk_price.head()

                                          Milk Price   2016   2017   2018
0                                All milk (Dol./cwt)  16.30  17.60  16.20
1        Class III (cheese milk) 3.5% fat (Dol./cwt)  14.87  16.17  14.61
2  Class IV (butter-powder milk) 3.5% fat (Dol./cwt)  13.77  15.16  14.23

In [29]:
reset_milk_price = annual_milk_price.set_index('Milk Price')
reset_milk_price

                                                    2016   2017   2018
Milk Price
All milk (Dol./cwt)                                16.30  17.60  16.20
Class III (cheese milk) 3.5% fat (Dol./cwt)        14.87  16.17  14.61
Class IV (butter-powder milk) 3.5% fat (Dol./cwt)  13.77  15.16  14.23

In [40]:
transpose_milk_price = reset_milk_price.transpose()
transpose_milk_price

Index(['All milk (Dol./cwt)', 'Class III (cheese milk) 3.5% fat (Dol./cwt)',
       'Class IV (butter-powder milk) 3.5% fat (Dol./cwt)'],
      dtype='object', name='Milk Price')

In [42]:
merge_production_price = transpose_milk_production.merge(transpose_milk_price, on=transpose_milk_production.index)
merge_production_price

,key_0,Production (23 States) (Mil. lb.),Milk cows (23 States) (Thou.),Milk per cow (23 States) (Lb.),Production (U.S. estimate) (Mil. Lb.),All milk (Dol./cwt),Class III (cheese milk) 3.5% fat (Dol./cwt),Class IV (butter-powder milk) 3.5% fat (Dol./cwt)
0,2016,"199,434","8,653","23,049","212,405",16.3,14.87,13.77
1,2017,"202,455","8,725","23,204","215,466",17.6,16.17,15.16
2,2018,"204,825","8,734","23,451","217,476",16.2,14.61,14.23

In [47]:
reset_merge = merge_production_price.set_index('key_0')
reset_merge

,Production (23 States) (Mil. lb.),Milk cows (23 States) (Thou.),Milk per cow (23 States) (Lb.),Production (U.S. estimate) (Mil. Lb.),All milk (Dol./cwt),Class III (cheese milk) 3.5% fat (Dol./cwt),Class IV (butter-powder milk) 3.5% fat (Dol./cwt)
key_0,,,,,,,
2016,"199,434","8,653","23,049","212,405",16.3,14.87,13.77
2017,"202,455","8,725","23,204","215,466",17.6,16.17,15.16
2018,"204,825","8,734","23,451","217,476",16.2,14.61,14.23

In [52]:
renamed_milk_price_production = reset_merge.rename_axis('Year')
renamed_milk_price_production

,Production (23 States) (Mil. lb.),Milk cows (23 States) (Thou.),Milk per cow (23 States) (Lb.),Production (U.S. estimate) (Mil. Lb.),All milk (Dol./cwt),Class III (cheese milk) 3.5% fat (Dol./cwt),Class IV (butter-powder milk) 3.5% fat (Dol./cwt)
Year,,,,,,,
2016,"199,434","8,653","23,049","212,405",16.3,14.87,13.77
2017,"202,455","8,725","23,204","215,466",17.6,16.17,15.16
2018,"204,825","8,734","23,451","217,476",16.2,14.61,14.23