# Dairy Data Trends in the United States and beyond

In [10]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import json

In [8]:
# Import annual data as DataFrame
annual_milk_production = pd.read_csv("Resources/us_annual_milk_production_16-18.csv")
annual_milk_production.head()

                              Unnamed: 0     2016     2017     2018
0      Production (23 States) (Mil. lb.)  199,434  202,455  204,825
1          Milk cows (23 States) (Thou.)    8,653    8,725    8,734
2         Milk per cow (23 States) (Lb.)   23,049   23,204   23,451
3  Production (U.S. estimate) (Mil. Lb.)  212,405  215,466  217,476

In [9]:
annual_milk_price = pd.read_csv("Resources/us_annual_milk_price_16-18.csv")
annual_milk_price.head()

                                          Unnamed: 0   2016   2017   2018
0                                All milk (Dol./cwt)  16.30  17.60  16.20
1        Class III (cheese milk) 3.5% fat (Dol./cwt)  14.87  16.17  14.61
2  Class IV (butter-powder milk) 3.5% fat (Dol./cwt)  13.77  15.16  14.23

In [ ]:
frames = [df1, df2, df3]

In [5]: result = pd.concat(frames)